aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
async-timeout
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
cryptography
ctranslate2
dataclasses-json
decorator
distro
exceptiongroup
faiss-cpu
faster-whisper
filelock
Flask
flatbuffers
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
imageio
imageio-ffmpeg
importlib_metadata
itsdangerous
Jinja2
jiter
jiwer
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
llvmlite
lxml
MarkupSafe
marshmallow
more-itertools
moviepy
mpmath
multidict
mypy_extensions
narwhals
networkx
numba
numpy
onnxruntime
openai
openai-whisper
opencv-python
opencv
opencv-python-headless
orjson
packaging
pandas
pillow
proglog
propcache
protobuf
psutil
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
PyMuPDF
PyMySQL
pyreadline3
pytesseract
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
rank-bm25
RapidFuzz
referencing
regex
requests
requests-toolbelt
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
six
smmap
sniffio
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
torch
tornado
tqdm
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
yarl
zipp
zstandard

